body {
  margin: 0 auto;
  padding: 0;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

a {
  text-decoration: none;
}

.catalog-wrap {
  max-width: 1200px;
  margin: 0 auto;
}

/*Слайдер*/
.container {
  margin: 0 auto;
  padding: 0 20px 0;
  box-sizing: border-box;
  max-width: 1200px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
}

.main-header {
  background-color: #eeeeee;
}

.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;

  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;

  width: 18px;
  height: 18px;

  background: #ffffff;

  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked~.slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked~.slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked~.slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked~.slider-controls .slider-controls-item--1::before,
#product-2:checked~.slider-controls .slider-controls-item--2::before,
#product-3:checked~.slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;

  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 16px 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/*Основная часть*/
.main-nav {
  display: flex;
  align-items: center;
  background-color: #eeeeee;
  max-width: 1200px;
  margin: 0 auto;
  padding: 49px 20px 0;
  box-sizing: border-box;
}

.page-main {
  margin-bottom: 86px;
  min-width: 1440px;
}

.main-nav__list {
  padding: 0;
  margin: 0;
  width: 437px;
  justify-content: space-between;
  display: flex;
  list-style: none;
}

.main-nav__item {
  padding-top: 17px;
}

.main-nav__item:nth-child(4) {
  margin-right: 0;
}

.main-nav__block {
  padding-top: 17px;
  margin-left: auto;
}

.main-nav__link,
.main-nav__basket {
  text-transform: uppercase;
  font-family: Roboto, Arial, sans-serif;
  color: #000000;
  position: relative;
}

.main-nav__basket::before {
  content: '';
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  left: -42px;
  top: 2px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
}

.main-nav__link-logo {
  height: 65px;
  margin-right: 202px;
}

.main-nav__link-logo:hover,
.main-nav__link-logo:focus {
  opacity: 0.8;
}

.main-nav__link-logo:active {
  opacity: 0.4;
}

.main-nav__link--active {
  border-bottom: 2px solid #fb565a;
  padding-bottom: 5px;
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: #fb565a;
}

.main-nav__item:active {
  opacity: 0.4;
}

.main-nav__basket:hover,
.main-nav__basket:focus {
  color: #fb565a;
}

.main-nav__basket:active {
  opacity: 0.4;
}

.page-footer {
  min-width: 1440px;
}

.work__list,
.about__list,
.about__roster,
.friends__list,
.page-footer__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.work {
  padding: 81px 20px 83px;
  box-sizing: border-box;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.page-header {
  background-color: #eeeeee;
  min-width: 1440px;
}

.work::after,
.about::after,
.friends::after {
  display: block;
  content: '';
  height: 2px;
  width: 1160px;
  position: absolute;
  bottom: 0px;
  left: 20px;
  background-color: #eeeeee;
}

.work__list {
  display: flex;

}

.work__title,
.work__text {
  margin: 0;
  padding: 0;
  width: 270px;
}

.work__item {
  margin-right: 100px;
}

.work__item:nth-child(3) {
  margin-right: 0;
}

.work__item--red .work__img {
  background-color: #fb565a;
}

.work__item--green .work__img {
  background-color: #00ca74;
}

.work__item--yellow .work__img {
  background-color: #efc84a;
}

.work__item--red .work__button {
  background-color: #fb565a;
}

.work__item--green .work__button {
  background-color: #00ca74;
}

.work__item--yellow .work__button {
  background-color: #efc84a;
}

.work__button {
  text-transform: uppercase;
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
}

.work__item--red .work__button:hover,
.work__item--red .work__button:focus {
  background-color: #e74246;
}

.work__item--red .work__button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.work__item--green .work__button:hover,
.work__item--green .work__button:focus {
  background-color: #00bc6c;
}

.work__item--green .work__button:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.work__item--yellow .work__button:hover,
.work__item--yellow .work__button:focus {
  background-color: #eab534;
}

.work__item--yellow .work__button:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.accept {
  width: 160px;
  height: 50px;
}

.map {
  width: 100%;
  height: 416px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  position: relative;
  background-size: 100% 416px;
}

map::before {
  content: '';
  position: absolute;
  background-image: url("../img/map-marker.png");

}

.map__button:hover,
.map__button:focus {
  background-color: #e74246;
}

.map__button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.work__img {
  margin-bottom: 27px;
  display: block;
}

.work__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.work__text {
  font-size: 16px;
  margin-bottom: 30px;
}

.about {
  box-sizing: border-box;
  padding: 73px 20px 50px;
  display: flex;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.about__title,
.about__text,
.about__subtitle {
  margin: 0;
}

.about__text {
  width: 650px;
  margin-bottom: 40px;
}

.about__title {
  font-size: 45px;
  width: 700px;
  line-height: 45px;
  margin-bottom: 33px;
}

.about__subtitle {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 23px;
}

.about__subtitle--right {
  margin-left: 18px;
  margin-bottom: 37px;
}

.about__roster {
  display: flex;
}

.about__block {
  margin-top: -34px;
  margin-right: 19px;
}

.about__block--long {
  margin: 0;
  margin-right: 100px;
}

.about__list {
  padding-left: 36px;
}

.about__item {
  position: relative;
  margin-bottom: 24px;
}

.about__numbers {
  font-size: 45px;
  font-weight: bold;
}

.about__item::before {
  content: '';
  display: block;
  position: absolute;
  width: 23px;
  height: 2px;
  background-color: #fb565a;
  left: -34px;
  top: 11px;
}

.about__img {
  margin-bottom: 30px;
}

.about__word {
  width: 120px;
  line-height: 18px;
  margin: 0;
  margin-top: 20px;
}

.map iframe {
  width: 100%;
  height: 415px;
  border: none;
}

.friends {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px 0;
  box-sizing: border-box;
}

.friends__list {
  display: flex;
}

.friends__item {
  display: block;
  height: 180px;
  margin-right: 40px;
  position: relative;
  opacity: 0.4;
}

.friends__item:hover,
.friends__item:focus {
  opacity: 1;
}

.friends__item:active {
  opacity: 0.2;
}


.friends__item::before {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 51px;
  background-color: #eeeeee;
  left: 279px;
  top: 66px;
}

.friends-logo {
  display: block;
  width: 260px;
  height: 180px;
}

.block {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.map__title {
  font-size: 18px;
  text-transform: uppercase;
  padding-top: 35px;
  margin-bottom: 25px;
}

.map__address {
  line-height: 18px;
  width: 210px;
}

.map__box {
  margin-left: 50px;
}

.map__tel {
  color: #000000;
}

.map__block {
  position: absolute;
  width: 320px;
  height: 307px;
  top: 55px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  z-index: 10;
}

.map__button {
  margin: 35px auto;
  width: 220px;
  height: 50px;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fb565a;
  border: none;
  border-radius: 2px;
}

.page-footer__contacts {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px 0;
  box-sizing: border-box;
}

.page-footer__title {
  font-size: 36px;
}

.page-footer__title,
.page-footer__text {
  margin: 0;
}

.page-footer__text {
  padding-top: 16px;
}

.page-footer__list {
  padding-bottom: 55px;
  padding-top: 65px;
  display: flex;
}

.page-footer__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.page-footer__item:nth-child(3) {
  margin-right: 140px;
}

.form {
  position: fixed;
  left: 35%;
  top: 40px;
  background: blueviolet;
  width: 300px;
  height: 300px;
}

.form--hidden {
  display: none;
}

.page-footer__wrap {
  padding-top: 75px;
}

.page-footer__link {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #e1e1e1;
  background-repeat: no-repeat;
  background-position: center;
}

/* .page-footer__link--vk:active,
.page-footer__link--facebook:active,
.page-footer__link--instagram:active {
  opacity: 0.2;
} */

.page-footer__link:hover,
.page-footer__link:focus {
  background-color: #e74246;
}

.page-footer__link:active {
  background-color: #d7373b;
  /* color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset; */
}

.page-footer__link--vk {
  background-image: url("../img/vk-icon.svg");
}

.page-footer__link--facebook {
  background-image: url("../img/fb-icon.svg");
}

.page-footer__link--instagram {
  background-image: url("../img/insta-icon.svg");
}

/*Фильтр*/
.filter-item {
  margin: 0;
  padding: 0;
  margin-bottom: 60px;

  border: none;

}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 45px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-radio+label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: -1px;
  width: 16px;
  height: 16px;
  border: 2px solid #b8b8b8;
  border-radius: 50%;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -36px;
  width: 8px;
  height: 8px;
  background-color: #b8b8b8;
  border-radius: 50%;
}


.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;

  width: 4px;
  height: 4px;
  padding: 0;

  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 50px;
}

.range-controls .toggle-max {
  left: 110px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.page-catalog {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 20px 0;
}

.page-filter {
  display: flex;
  flex-direction: column;
}

.page-filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
}

.filter-input-checkbox+label::before {
  content: "";
  height: 17px;
  width: 17px;
  margin: -11px 0 0;
  background: 0 0;
  border: 3px solid #c1c1c1;
  border-radius: 4px;
  position: absolute;
  left: -42px;
  top: 50%;
}

.filter-input-checkbox:checked+label::after {
  content: "";
  display: block;
  width: 6px;
  height: 16px;
  background: 0 0;
  border-bottom: 5px solid #c1c1c1;
  border-right: 5px solid #c1c1c1;
  border-radius: 1px;
  box-shadow: 2px 0 0 0 #fff, inset -2px 0 0 0 #fff;
  position: absolute;
  left: -32px;
  top: -5px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.page-filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.page-filter legend {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;

}

.page-filter label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.catalog-name {
  text-align: center;
  font-size: 55px;
  padding: 94px 20px 124px;
  margin: 0 auto;
  background-color: #eeeeee;
  margin-bottom: 58px;
}

.page-catalog__item {
  width: 360px;
  /* min-height: 615px; */
  margin-bottom: 35px;
  position: relative;
  border-top: 40px solid #e9e9e9;
  border-radius: 5px 5px 0 0;
}

.page-catalog__item:hover,
.page-catalog__item:focus {
  border-color: #4d4d4d;
}

.page-catalog__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-catalog__item:nth-child(odd) {
  margin-right: 40px;
}

.page-catalog__filter {
  margin-right: 140px;
}

.sort-list {
  list-style: none;
}

.sort-list li {
  margin-right: 42px;
}

.page-catalog__sort {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.sort-list {
  display: flex;
}

.sort-direction {
  display: flex;
  list-style: none;
  position: relative;
  margin-right: 20px;
}

.sort-down--active::after {
  content: '';
  position: absolute;
  border: 15px solid transparent;
  border-top: 20px solid #231f20;
  top: 0px;
  left: 10px;
}

.sort-up::after {
  content: '';
  position: absolute;
  border: 15px solid transparent;
  border-bottom: 20px solid #ededed;
  top: -15px;
}

.page-catalog__item-info {
  display: none;
  width: 360px;
  background-color: #eeeeee;
  position: absolute;
  padding: 35px 0 43px;
  bottom: 0;
  max-height: 231px;
  z-index: 10;
}

.page-catalog__item:hover .page-catalog__item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item__button {
  display: flex;
  width: 200px;
  height: 50px;
  background-color: #fb565a;
  color: #ffffff;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 2px;
}

.page-catalog__item-name {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 27px;
}

.page-catalog__item-description {
  width: 177px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 32px;
  line-height: 18px;
}

.page-catalog__item-description--long {
  width: 230px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 32px;
  line-height: 18px;
}

.page-catalog__item-header {
  display: flex;

}

.page-catalog__link {
  display: flex;
  flex-direction: column;
}

.page-catalog__link::after {
  content: "";
  height: 13px;
  width: 13px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 20px 0 0 #fff, 40px 0 0 #fff;
  position: absolute;
  left: 15px;
  top: -25px;
}

.page-catalog__work {
  max-width: 780px;
}

.submit {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 30px;
  font: inherit;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
}

.submit:hover,
.submit:focus {
  background-color: #dfdfdf;
}

.submit:active {
  background-color: #d5d5d5;
  color: #959595;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.pages__list-button {
  display: flex;
  padding: 0;
  text-align: center;
  list-style: none;
}

.pages__button {
  margin-right: 11px;
}

.pages__page-button {
  display: inline-block;
  width: 50px;
  padding: 15px 0;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #eeeeee;
  border-radius: 3px;
}

.pages__page-button--next {
  width: 260px;
}

.pages__page-button-active {
  display: inline-block;
  width: 50px;
  padding: 15px 0;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border-color: #dbdbdb;
  background-color: #ffffff;
  border: 4px solid #eeeeee;
}

.pages__page-button:focus,
.pages__page-button:hover {
  background-color: #dfdfdf;
}

.pages__page-button:active {
  background-color: #d5d5d5;
  color: #959595;
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

/* Форма */
.write-us-form {
  display: none;
  width: 460px;
  padding: 50px 85px;
  background: #fff;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
  position: fixed;
  left: calc(50% - 230px);
  top: calc(50% - 158px);
  z-index: 1000;
  min-height: 316px;
}

.write-us-form-close {
  display: block;
  width: 42px;
  height: 42px;
  background: #fb565a;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 0;
}

.login-popup-show {
  display: block;

  animation: bounce 0.6s;
}

.login-popup-error {
  animation: shake 0.6s;
}

.write-us-form-close::after,
.write-us-form-close::before {
  content: '';
  width: 26px;
  height: 6px;
  margin: -3px 0 0 -13px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
}

.write-us-form-close::after {
  transform: rotate(45deg);
}

.write-us-form-close::before {
  transform: rotate(-45deg);
}

fieldset {
  display: block;
}

.write-us-form .name,
.write-us-form .email {
  width: 220px;
  margin: 0 20px 0 0;
  float: left;
}

.write-us-form .email {
  margin: 0;
}

.write-us-form fieldset {
  font-size: 0;
  border: none;
  padding: 0;
  margin: 0;
}

.write-us-form label {
  display: block;
  margin: 0 0 10px;
  font: 500 16px/1.13 Roboto, sans-serif;
}

.write-us-form input[type=text],
.write-us-form input[type=email],
.write-us-form textarea {
  width: 100%;
  margin: 0;
  padding: 8px 10px;
  border: 2px solid #d7dcde;
  outline: 0;
  border-radius: 3px;
  box-sizing: border-box;
  font: 500 12px/1.5 Roboto, sans-serif;
  text-transform: uppercase;
}

.write-us-form .free-text {
  margin: 0 0 50px;
  padding: 20px 0 0;
  clear: both;
}

.write-us-form textarea {
  display: block;
  min-height: 115px;
  resize: none;
  color: #000;
  text-decoration: none;
}

.input-buttons input[type=reset] {
  margin: 0;
  background: #f1f1f1;
  color: #000;
}

.input-buttons [type=submit],
.input-buttons [type=reset] {
  display: block;
  width: 220px;
  margin: 0 20px 0 0;
  padding: 9px 0;
  background: #fb565a;
  border: none;
  outline: 0;
  border-radius: 3px;
  float: left;
  font: 500 12px/1.5 Roboto, sans-serif;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

@keyframes bounce {
  0% {
    transform: translateX(-2000px);
  }

  70% {
    transform: translateX(30px);
  }

  90% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
